/*
Page styling regulars:
  
  Primary colors: 
    orange: #F26925
    white: #FFFFF
    dark gray: #474C55
  
  secondary colors:
    blue: #72A4C2
    yellow: #FCB414
    light gray: #B9B9BA

  h1:
    font: futura-medium
    size: 48
  h2:
    font: futura-medium
    size: 38
  h3:
    font: futura-book
    size 30
    letter space: 3%
  text: 
    font: futura
    size: 24
    letter space: 3%
  comments:
    font: futura-book
    size: 18
    letter space: 3%
  subtext:
    font: futura-book
    size: 12
    letter space: 3%
*/
@font-face {
  font-family: futura-bold;
  src: url('./assets/fonts/Futura-Std-Bold.otf');
}
@font-face {
  font-family: futura-book;
  src: url('./assets/fonts/Futura-Std-Book.otf');
}
@font-face {
  font-family: futura-heavy;
  src: url('./assets/fonts/Futura-Std-Heavy.otf');
}
@font-face {
  font-family: futura-meduim;
  src: url('./assets/fonts/Futura-Std-Medium.otf');
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

h3 {
    font-family: futura-book;
    font-size: 30px;
    letter-spacing: 3%;
}

#cardSubtitle {
    font-family: futura-book;
    font-size: 18px;
    letter-spacing: 3%;
}

#postBody {
    font-family: futura-book;
    font-size: 24px;
    letter-spacing: 3%;
}

#navbar{
  background-color:"#B9B9BA";
  width: 150; 
  height:"100vh";
  min-height:"450px";
  font-size:"24px";
  line-height:"30px";
}

ul {
  color: #ffff;
  font-size: 38;
}
#feedBody{

}
#postCard{
    text-align: left;
    margin-top: 50px;
}

#reverbIcon {
    width: 25px;
}

#reverbButton {
    color: white;
    background-color: #F26925;
}

#feedButtons {
    float: right;
    position: fixed;
}

#feedButtons button {
    display: block;
    margin: 0.5em;
}

#postColumn {
    background-color: #474C55;
    padding-right: 10%;
    padding-left: 10%;
}
